
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container{
            height: 80vh;
            display: flex;
            flex-direction: column;
        }
        header{
            background-color: rgb(32, 32, 32);
            color: white;
            padding-bottom: 60px;
            text-align: center;
            font-size: 40px;
        }
        nav{
            background-color: black;
            padding-bottom: 10px;
            color: white;
            text-align: center;
            font-size: 40px;
        }
        .header{
            background-color: rgb(32, 32, 32);
            color: white;
            padding-bottom: 10px;
            text-align: center;
            font-size: 40px;
        }
        main{
            display: grid;
            grid-template-columns: 1fr 2fr;
            flex: 1;
        }
        main aside{
            background-color: rgb(67, 66, 66);
            text-align: center;
            color: white;
        }
        main .body{
            background-color: rgb(197, 199, 199);
            text-align: center;
            color: white;
        }
        footer{
            background-color: rgb(197, 199, 199);
            text-align: center;
            color: white;
            padding-bottom: 50px;
        }
    