
      .box {
        width: 200px;
        height: 200px;
        background: gray;
        margin: auto;
        text-align: center;
        line-height: 200px;
        color: white;
        font-weight: bold;
      }

      @media (max-width: 600px) { /* for the width less than 600px color will change to blue */
        .box {
          background: blue;
          width: 100px;
          height: 100px;
          line-height: 100px;
        }
      }

      @media (min-width: 601px) and (max-width: 1024px) { /* for the width between 601px to 1024px color will change to green */
        .box {
          background: green;
          width: 150px;
          height: 150px;
          line-height: 150px;
        }
      }

      @media (min-width: 1025px) { /* for the width greater than 1024px color will change to red */
        .box {
          background: red;
        }
      }

      
